@import "../assets/base";

.app {
  .strTitle {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    @include respondTo($bp-desktop) {
      width: 12rem;
    }
    h2 {
      color: #fff;
      padding: 0.3rem 0;
      font-size: 0.18rem;
      margin-bottom: 0;
      width: 12rem;

      @include respondTo($bp-desktop) {
        padding-left: 0.3rem;
      }
    }
  }
}
.margin {
  min-width: 12rem;

  @include respondTo($bp-phone) {
    min-width: auto;
    & > div {
      margin: 0;
    }
  }

  & > div {
    width: 12rem;
    margin: 0 auto;

    @include respondTo($bp-desktop) {
      padding: 0 0.3rem;
    }

    @include respondTo($bp-phone) {
      padding: 0 0.15rem;
      width: auto;
    }
  }

  &:nth-last-child(2) {
    background-color: $color-light-3;
    padding: 0.3rem 0 1rem;

    @include respondTo($bp-phone) {
      padding: 0.2rem 0 0.2rem;
      width: auto;
    }

    & > div > * {
      &:not(:last-child) {
        margin-bottom: 0.3rem;
        @include respondTo($bp-phone) {
          margin-bottom: 0;
        }
      }
    }
  }

  &:last-child {
    background-color: $color-footer;
  }
}
