@import '../assets/base';

.table {
  @include antdTable;
}

.revTable {
  @include antdRevTable;
}

.revTable2C {
  @include antdRevTable2C;
}

.tableWithCount {
  min-height: 2rem;
}

.container {
  min-height: 4rem;
}

.tabTableContainer {
  min-height: 6rem;
}
