@import "../assets/base";

.devGuides {
  & > * {
    border-radius: 0.04rem;
  }

  .main {
    display: flex;

    .nav {
      flex: 0 0 20%;

      :global {
        .ant-menu-item {
          font-size: 0.14rem;

          &:first-child {
            padding-top: 4px;
            margin-top: 0;
          }

          // hard code
          &:nth-child(7),
          &:nth-child(8) {
            a {
              margin-left: 0.25rem;
              font-size: 0.13rem;
            }
          }
        }
        .ant-menu {
          height: 100%;
        }
      }
    }

    .content {
      flex: 1;
      // max-height: 11rem;
      overflow: scroll;
    }
  }
}
