@import "../assets/base";

.faucet {
  margin-top: 0.1rem;

  .main {
    background-color: #fff;
    padding: 0.6rem 0;

    & > * {
      width: 40%;
      margin: 0 auto;
      display: block;

      &:not(:last-child) {
        margin-bottom: 0.2rem;
      }
    }

    .title {
      font-size: 0.16rem;
    }

    input,
    button {
      height: 0.54rem;
    }
    .input-err {
      border-color: red;
      box-shadow: none;
    }
  }

  @include phStyle;
  @include antdBtn;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin: 0.2rem 0 0.4rem;
    color: $color-dark-1;
    font-size: 0.18rem;
  }
  button {
    width: 1.9rem;
    height: 0.5rem;
  }
}
