@import "../assets/base";

.open {
  :global {
    .ant-input,
    .ant-btn-primary {
      height: 0.54rem;
    }
    .anticon-upload {
      margin-right: 0.08rem;
    }
  }
}

.main {
  background-color: #fff;
  border-radius: 0.04rem;
}

.openMethod {
  width: 50%;
  margin: 0 auto;
  padding: 0.4rem 0;

  display: flex;
  align-items: center;

  & > .title {
    margin-bottom: 0;
  }
}

.title {
  margin-bottom: 0.18rem;
  font-size: 0.16rem;
  color: $color-dark-1;

  margin-right: auto;
}

.btns {
  button {
    width: 1.25rem;
    &:first-child {
      margin-right: 0.2rem;
    }
  }
  .defaultSelect {
    color: $color-primary-light; //#40a9ff
    border-color: $color-primary-light;
  }
}

.content {
  padding: 0.6rem 0 0.2rem;
  border-top: 1px solid $color-light-5;
  & > * {
    width: 50%;
    margin: 0 auto;
    display: block;

    margin-bottom: 0.4rem;
    &:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}

.upload {
  height: 0.44rem;
  width: 1.24rem;
}

.field {
  &:not(:last-of-type) {
    margin-bottom: 0.4rem;
  }
}
