@import '../assets/base';

.open {
}

.main {
  background-color: #fff;
  border-radius: .04rem;
}

.openMethod {
  width: 50%;
  margin: 0 auto;
  padding: .4rem 0;

  display: flex;
  align-items: center;
}

.title {
  margin-bottom: 0;
  font-size: .16rem;
  color: $color-dark-1;

  margin-right: auto;
}

.btns {
  button {
    width: 1.25rem;
    &:first-child {
      margin-right: .2rem;
    }
  }
  .defaultSelect {
    color: #40a9ff;
    border-color: #40a9ff;
  }
}

.content {
  padding:.6rem 0 .2rem;
  border-top: 1px solid $color-light-5;
  & > * {
    width: 50%;
    margin: 0 auto;
    display: block;
    &:not(:last-child) {
      margin-bottom: .2rem;
    }
  }
}

.upload {
  margin-bottom: .4rem;
}
