@import '../assets/base';

.main {
}

.content {
  border-radius: .04rem;
  background-color: #fff;
  padding: .6rem 0 .2rem;
  & > * {
    width: 50%;
    margin: 0 auto;
  }

  color: $color-dark-1;

  .field:not(:last-child) {
    margin-bottom: .4rem;
  }
  .title {
    font-size: .16rem;
    margin-bottom: .2rem;
  }
  .addr {
    font-size: .14rem;
  }
  .balance {
    float: right;
    margin-bottom: 0;
    margin-top: .05rem;
    font-size: .14rem;
    color: $color-light-6;

    span {
      color: $color-light-1;
    }
  }
}
