@import '../assets/base';

.main {
}

.content {
  border-radius: .04rem;
  background-color: #fff;
  padding: .6rem 0 1rem;
  & > * {
    width: 50%;
    margin: 0 auto;
  }

  color: $color-dark-1;

  .field:not(:last-child) {
    margin-bottom: .4rem;
  }
  .title {
    font-size: .16rem;
    margin-bottom: .2rem;
  }
  .addr {
    font-size: .14rem;
  }
  .balance {
    float: right;
    margin-bottom: 0;
    margin-top: .05rem;
    font-size: .14rem;
    color: $color-light-6;

    span {
      color: $color-light-1;
    }
  }
  .qrcode {
    margin-top: -.2rem;
    margin-left: -.2rem;
  }
  :global {
    .ant-input, .ant-select-selection, .ant-input-search-button, .ant-btn-primary, .ant-select-selection-selected-value, .ant-select-search--inline {
      height: .54rem;
    }
    textarea.ant-input {
      height: 1.2rem;
    }
    .ant-btn-primary {
      width: 100%;
    }
    .ant-select-selection-selected-value, .ant-select-search--inline {
      display: flex !important;
      align-items: center;
    }
  }
}
