@import '../assets/base';

.overview {
  border-radius: .04rem;

  background-color: #fff;
  color: $color-dark-1;
  width: 100%;

  td > span {
    color: $color-light-1;
  }

  td:first-child {
    background-color: $color-light-4;
    text-align: center;
    padding: .17rem .2rem;
  }
  td:last-child {
    padding-left: .4rem;
  }

  tr:not(:last-child) > td:last-child {
    border-bottom: 1px solid $color-light-4;
  }

  button {
    width: .82rem;
    &:first-child {
      margin-right: .1rem;
    }
  }
}
