@import '../../assets/base';

.txChart {
  background-color: #fff;
}

.heading {
  padding: .15rem .3rem;
  border-bottom: 1px solid $color-light-5;
  color: #333;
  font-size: .18rem;
}

.chart {
  padding: .3rem .3rem;
}
