@import '../../assets/base';

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-dark-1;

  & > * {
    &:not(:last-child) {
      margin-bottom: .4rem;
    }
  }

  :global {
    .ant-input-password {
      margin-bottom: .2rem;
    }
  }
}

.title {
  font-size: .2rem;
}

.list {
  list-style: none;
  font-size: .14rem;
}

