@import "../../assets/base";

.header {
  // without font-size, the other length-related rules go wrong
  font-size: 0.16rem;

  height: 0.7rem;

  display: flex;
  align-items: center;

  @include respondTo($bp-phone) {
    height: 1rem;
    align-content: space-around;
    flex-wrap: wrap;

    box-sizing: content-box;
    padding-top: 0.14rem !important;
    padding-bottom: 0.2rem !important;
  }
}

.input {
  width: 3rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;

  @include respondTo($bp-phone) {
    order: 3;
    flex: 1 0 100%;
    margin: 0;
  }
}
