@import '../../assets/base';

.menu {
  color: $color-dark-1;
  &__subMenu {
    display: flex;
    align-items: center;
  }

  :global {
    // change submenu text font-size
    .ant-menu-submenu-title {
      font-size: .16rem;
    }
    // hide border-bottom
    .ant-menu-horizontal {
      border-bottom: 1px solid transparent;
    }

    .ant-menu-submenu-active {
      .anticon {
        transform: rotate(180deg);
      }
    }

    .anticon {
      font-size: .08rem;
      margin-right: 0;
      margin-left: .03rem;
      line-height: 1;
    }
  }
}
