@import "../../assets/base";

.logo-box {
  display: flex;
  align-items: center;
  margin-right: auto;

  &__icon {
    margin-right: 0.13rem;
    height: 0.32rem;
  }

  &__text {
    color: $color-light-1;
    border: 1px solid $color-light-2;
    padding: 0.05rem;
    border-radius: 0.03rem;
    font-size: 0.08rem;
  }

  &__textNew {
    color: $color-dark-1;
  }
}
