@import '../assets/base';

.table {
  @include antdTable;
}

.tabTable {
  @include antdTable;
  :global {
    .ant-spin-container {
      padding: 0 .2rem;
    }
  }
}

.revTable {
  @include antdRevTable;
}

.revTable4C {
  @include antdRevTable2C;
}
