@import '../assets/base';

.container {
  position: relative;

  .title {
    color: $color-dark-1;
    font-size: .24rem;
    line-height: 1;

    margin-bottom: .2rem;
  }

  .subTitle {
    margin-bottom: 0;
    position: absolute;
    top: .2rem;
    left: .2rem;
  }
}

