.container {
  .title {
    margin-bottom: 0;
    position: absolute;
    top: .2rem;
    left: 0rem;
  }
  .tabTitle {
    margin-bottom: 0;
    position: absolute;
    top: .2rem;
    left: .2rem;
  }
}
