@import '../assets/base';

.container {
  position: relative;

  .main {
    color: $color-dark-1;
    font-size: .24rem;
    line-height: 1;

    margin-bottom: .2rem;
  }

  .sub {
    margin-bottom: 0;
    position: absolute;
    top: .2rem;
    left: 0rem;
  }
  .sub__under-tab {
    margin-bottom: 0;
    position: absolute;
    top: .2rem;
    left: .2rem;
  }
}
