@import "../../assets/base";
.footerSocial {
  :global {
    .ant-btn {
      width: 0.4rem;
      height: 0.4rem;
      line-height: 0.4rem;
      margin-right: 0.2rem;
      background: #4f515a;
      text-align: center;
      border: none;
      > img {
        width: 0.15rem;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: #3389ff;
      }

      &:focus {
        background: #4f515a;
      }
    }
  }

  @include respondTo($bp-phone) {
    margin: 0.3rem 0 0.1rem;
    text-align: center;
  }
}
