$net: testnet;
/* colors */
$color-primary: if($net == "mainnet", #3389ff, #4cc159);
$color-primary-light: if($net == "mainnet", #65b6ff, #4cc159);
$color-primary-dark: if($net == "mainnet", #2194ff, #13e92c);
$color-dark-1: #333;
$color-light-1: #999;
$color-light-2: #dbdbdb;
$color-light-3: #f3f3f3;
$color-light-4: #e6e6e6;
$color-light-5: #e5e5e5;
$color-light-6: #666;
$color-light-7: #808080;
$color-footer: #30323d;

/* breakpoints */
$bp-desktop: 76.875em; // 1230px
$bp-tab-port: 48em; // 768px
$bp-phone: 37.5em; // 600px

/* mixins */
@mixin respondTo($breakpoint, $max-width: true) {
  @if $max-width == true {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  }
  @if $max-width == false {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

// placeholder style
@mixin phStyle() {
  :global {
    ::placeholder {
      font-size: 0.16rem;
    }
  }
}

// antd button style
@mixin antdBtn {
  :global {
    .ant-btn-primary {
      font-size: 0.16rem;
    }
  }
}

// antd table style
@mixin antdTable {
  :global {
    .ant-table {
      background-color: #fff;
    }
    .ant-table-thead > tr > th {
      background-color: $color-light-4;
    }
  }
}

// antd reverse table style
@mixin antdRevTable {
  :global {
    td {
      background-color: #fff;
    }
    tr > th,
    tr > td {
      &:first-child {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .ant-table-thead > tr > th {
      &:last-child {
        color: rgba(0, 0, 0, 0.65);
      }
      background-color: #fff;
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      &:first-child {
        background-color: $color-light-4;
      }
    }
    tr > th,
    tr > td {
      &:first-child {
        width: 10%;
      }
    }
  }
}

// antd reverse table style (2 adjacent)
@mixin antdRevTable2C {
  :global {
    td {
      background-color: #fff;
    }
    tr > th {
      &:nth-child(even) {
        color: rgba(0, 0, 0, 0.65);
      }
    }
    tr > td {
      &:nth-child(odd) {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .ant-table-thead > tr > th {
      background-color: #fff;
    }
    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
      &:nth-child(odd) {
        background-color: $color-light-4;
      }
    }
    tr > th,
    tr > td {
      &:nth-child(odd) {
        width: 15%;
      }
      &:nth-child(even) {
        width: 35%;
      }
    }
  }
}
