/* colors */
$color-primary: #3389ff;
$color-primary-light: #65b6ff;
$color-dark-1: #333;
$color-light-1: #999;
$color-light-2: #dbdbdb;
$color-light-3: #f3f3f3;
$color-light-4: #e6e6e6;
$color-light-5: #e5e5e5;
$color-light-6: #666;

/* breakpoints */
$bp-desktop: 76.875em; // 1230px
$bp-tab-port: 48em; // 768px
$bp-phone: 37.5em; // 600px

/* mixins */
@mixin respondTo($breakpoint, $max-width: true) {
  @if $max-width == true {
    @media only screen and (max-width: $breakpoint) {
      @content;
    }
  }
  @if $max-width == false {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

// placeholder style
@mixin phStyle() {
  :global {
    ::placeholder {
      font-size: 0.16rem;
    }
  }
}

// antd button style
@mixin antdBtn {
  :global {
    .ant-btn-primary {
      font-size: 0.16rem;
    }
  }
}
